

body{
    font-family: 'Raleway', Sans-Serif;
    background: #efefef;
    padding:30px 0;
    font-weight: 400;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #bbb !important;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #bbb !important;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #bbb !important;
}
:-moz-placeholder { /* Firefox 18- */
    color: #bbb !important;
}




.success-checkmark {
  width: 80px;
  height: 115px;
  margin: 0 auto;
}
.success-checkmark .check-icon {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  box-sizing: content-box;
  border: 4px solid #4caf50;
}
.success-checkmark .check-icon::before {
  top: 3px;
  left: -2px;
  width: 30px;
  transform-origin: 100% 50%;
  border-radius: 100px 0 0 100px;
}
.alert-info{
  background-color: #f39742;
  color: white;
  border-color: #b96210;
}
.alert-danger{
  color: white;
  background-color: #b43965;
  border-radius: 20px;
  border-color: none;
  font-weight: bold;
}

@media screen and (max-width: 600px) {
  .bs-wizard {
    visibility: hidden;
    clear: both;
    float: left;
    margin: 10px auto 5px 20px;
    width: 28%;
    display: none;
  }
}

.bs-wizard {margin-top: 10px; width: 100%}

/*Form Wizard*/
.bs-wizard {border-bottom: solid 1px #e0e0e0; padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-size: 16px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0px; height: 8px; box-shadow: none; margin: 20px 0;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0px; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0%;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #f5f5f5;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }


.success-checkmark .check-icon::after {
  top: 0;
  left: 30px;
  width: 60px;
  transform-origin: 0 50%;
  border-radius: 0 100px 100px 0;
  animation: rotate-circle 4.25s ease-in;
}
.success-checkmark .check-icon::before, .success-checkmark .check-icon::after {
  content: "";
  height: 100px;
  position: absolute;
  background: #ffffff;
  transform: rotate(-45deg);
}
.success-checkmark .check-icon .icon-line {
  height: 5px;
  background-color: #4caf50;
  display: block;
  border-radius: 2px;
  position: absolute;
  z-index: 10;
}
.success-checkmark .check-icon .icon-line.line-tip {
  top: 46px;
  left: 14px;
  width: 25px;
  transform: rotate(45deg);
  animation: icon-line-tip 0.75s;
}
.success-checkmark .check-icon .icon-line.line-long {
  top: 38px;
  right: 8px;
  width: 47px;
  transform: rotate(-45deg);
  animation: icon-line-long 0.75s;
}
.success-checkmark .check-icon .icon-circle {
  top: -4px;
  left: -4px;
  z-index: 10;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: absolute;
  box-sizing: content-box;
  border: 4px solid rgba(76, 175, 80, 0.5);
}
.success-checkmark .check-icon .icon-fix {
  top: 8px;
  width: 5px;
  left: 26px;
  z-index: 1;
  height: 85px;
  position: absolute;
  transform: rotate(-45deg);
  background-color: #ffffff;
}

@keyframes rotate-circle {
  0% {
    transform: rotate(-45deg);
  }
  5% {
    transform: rotate(-45deg);
  }
  12% {
    transform: rotate(-405deg);
  }
  100% {
    transform: rotate(-405deg);
  }
}
@keyframes icon-line-tip {
  0% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  54% {
    width: 0;
    left: 1px;
    top: 19px;
  }
  70% {
    width: 50px;
    left: -8px;
    top: 37px;
  }
  84% {
    width: 17px;
    left: 21px;
    top: 48px;
  }
  100% {
    width: 25px;
    left: 14px;
    top: 45px;
  }
}
@keyframes icon-line-long {
  0% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  65% {
    width: 0;
    right: 46px;
    top: 54px;
  }
  84% {
    width: 55px;
    right: 0px;
    top: 35px;
  }
  100% {
    width: 47px;
    right: 8px;
    top: 38px;
  }
}





* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.buttons {
    margin: 10%;
    text-align: center;
}

.btn-hover {
    display: inline-block;
    padding: 0 30px;
    line-height: 50px;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
    height: 50px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 5px;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    font-weight: 400;
}

.btn-hover:hover {
    background-position: 100% 0;
    moz-transition: all .4s ease-in-out;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}



.btn-hover:focus {
    outline: none;
}

.btn-hover.color-1 {
    background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
    /*box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75); */
}
.btn-hover.color-2 {
    background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
    /*box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75); */
}
.btn-hover.color-3 {
    background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
    /*box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75); */
}
.btn-hover.color-4 {
    background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
    /*box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75); */
}
.btn-hover.color-5 {
    background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
    /*box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75); */
}
.btn-hover.color-6 {
    background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
    /*box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75); */
}
.btn-hover.color-7 {
    background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
    /*box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75); */
}
.btn-hover.color-8 {
    background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
    /*box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75); */
}
.btn-hover.color-9 {
    background-image: linear-gradient(to right, rgba(203,66,125,1) 0%, rgba(254,182,69,1) 100%);;
    /*box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75); */
}
.btn-hover.color-10 {
    background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a , #FBB03B);
    /*box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75); */
}
.btn-hover.color-11 {
    background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);  box-shadow: 0 5px 15px rgba(242, 97, 103, .4);
}

/**/
.mb-15{ margin-bottom: 15px; }

/**/
.alert{ font-size: 14px; }
.alert p{ margin-bottom: 0; }

/**/
.form-control{ border: 1px solid #e6e6e6; padding: 12px 15px; font-weight: 300; font-size: 15px; font-family: 'Raleway', sans-serif; }
.form-control:hover,.form-control:focus{ outline: none; box-shadow: none; }
.control-label{ color: #4d4d4d; font-weight: 600; font-size: 12px; text-transform: uppercase; margin-bottom: 15px; }
select.form-control:not([size]):not([multiple]){ height: calc(48px + 2px); }

/**/
.wrapper{ box-shadow: 0 0 15px rgba(0,0,0,.05); max-width: 880px; margin: 0 auto; padding: 30px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background: #fff; }

/**/
.header{ border-bottom: 0px solid #eee; margin: 0 0 15px; overflow: hidden; }
.navbar-header{}
.navbar-header h1{ font-size: 24px; font-weight: 700; color: #c00; }

/**/
.payment-type-list{  }
.payment-type-list.row { margin-left: -10px; margin-right: -10px; }
.payment-type-list.row .type-item{ padding-left: 10px; padding-right: 10px; }
.payment-type-list a{ color: #444; cursor: pointer; position: relative; text-transform: uppercase;  height: 120px; text-align: center; padding: 20px; display: block; margin: 0 0 20px 0; border: 2px solid #e6e6e6; background: #fafafa; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.payment-type-list a:hover{ text-decoration: none; }
.payment-type-list a:last-child{ margin-right: 0; }
.payment-type-list a img{ width: 40px; display: inline-block; margin: 0 0 10px; }
.payment-type-list a span{ display: block; font-size: 12px; font-weight: 500; line-height: 1.3; }
.payment-type-list a .selected{ display: none; font-size: 13px; line-height: 20px; text-align: center; position: absolute; background: #fff; top: -10px; right: -10px; border: 2px solid #2aa8de; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; width: 24px; height: 24px; }
.payment-type-list a:hover,.payment-type-list a.active{ border-color: #2aa8de; background: #f2fcff; }
.payment-type-list a:hover .selected,.payment-type-list a.active .selected{ display: inline-block; }

/**/
.bank-list{ }
.bank-list.row { margin-left: -10px; margin-right: -10px; }
.bank-list.row .bank-item{ padding-left: 10px; padding-right: 10px; }
.bank-list:after{  }
.bank-list a{ margin-bottom: 20px; display: block; cursor: pointer; position: relative; text-align: center; padding: 20px; border: 2px solid #e6e6e6; background: #fff; border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px; }
.bank-list a .selected{ display: none; font-size: 13px; line-height: 20px; text-align: center; position: absolute; background: #fff; top: -10px; right: -10px; border: 2px solid #2aa8de; border-radius: 100%; -webkit-border-radius: 100%; -moz-border-radius: 100%; width: 24px; height: 24px; }
.bank-list a img{ max-height: 40px; }
.bank-list a:hover,.bank-list a.active{ border-color: #2aa8de; }
.bank-list a:hover .selected,.bank-list a.active .selected{ display: inline-block; }
.bank-list .bank-item a{  }

/**/
.form-group{}
.form-group .help-block{ margin-top: 0.25rem; font-size: 12px; color: #c00; font-style: normal; }


.form-control-feedback {
    margin-top: 0.25rem;
}

.form-control-success,
.form-control-warning,
.form-control-danger {
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right 0.5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
}

.has-success .form-control-feedback,
.has-success .form-control-label,
.has-success .col-form-label,
.has-success .form-check-label,
.has-success .custom-control {
    color: #5cb85c;
}

.has-success .form-control {
    border-color: #5cb85c;
}

.has-success .input-group-addon {
    color: #5cb85c;
    border-color: #5cb85c;
    background-color: #eaf6ea;
}

.has-success .form-control {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%235cb85c' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3E%3C/svg%3E");
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right 0.5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
}

.has-warning .form-control-feedback,
.has-warning .form-control-label,
.has-warning .col-form-label,
.has-warning .form-check-label,
.has-warning .custom-control {
    color: #f0ad4e;
}

.has-warning .form-control {
    border-color: #f0ad4e;
}

.has-warning .input-group-addon {
    color: #f0ad4e;
    border-color: #f0ad4e;
    background-color: white;
}

.has-warning .form-control {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%23f0ad4e' d='M4.4 5.324h-.8v-2.46h.8zm0 1.42h-.8V5.89h.8zM3.76.63L.04 7.075c-.115.2.016.425.26.426h7.397c.242 0 .372-.226.258-.426C6.726 4.924 5.47 2.79 4.253.63c-.113-.174-.39-.174-.494 0z'/%3E%3C/svg%3E");
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right 0.5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
}

.has-danger .form-control-feedback,
.has-danger .form-control-label,
.has-danger .col-form-label,
.has-danger .form-check-label,
.has-danger .custom-control {
    color: #d9534f;
}

.has-danger .form-control {
    border-color: #d9534f;
}

.has-danger .input-group-addon {
    color: #d9534f;
    border-color: #d9534f;
    background-color: #fdf7f7;
}

.has-danger .form-control {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d9534f' viewBox='-2 -2 7 7'%3E%3Cpath stroke='%23d9534f' d='M0 0l3 3m0-3L0 3'/%3E%3Ccircle r='.5'/%3E%3Ccircle cx='3' r='.5'/%3E%3Ccircle cy='3' r='.5'/%3E%3Ccircle cx='3' cy='3' r='.5'/%3E%3C/svg%3E");
    padding-right: 2.25rem;
    background-repeat: no-repeat;
    background-position: center right 0.5625rem;
    -webkit-background-size: 1.125rem 1.125rem;
    background-size: 1.125rem 1.125rem;
}

@media (max-width: 767px) {

    body {
        padding: 0;
    }

    .wrapper{ padding: 20px; }
    .navbar-header h1{ font-size: 18px; }
    .header .btn{ line-height: 1; }

    .payment-type-list a{ height: 100px; padding: 15px; margin-bottom: 20px; }
    .payment-type-list a span{ font-size: 11px; }
    .payment-type-list a img{ width: 30px; }

    .control-label{ margin-bottom: 5px; }

    .bank-list a{ padding: 10px; }

    .alert{ font-size: 12px; }
    .form-control{ font-size: 12px; padding: 8px 15px;}
    .form-group{ margin-bottom: 0.5rem; }
    p{ margin-bottom: 0.5rem; }

    .btn-hover{ line-height: 40px; height: 40px; }
}
